*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.171),rgba(0, 0, 0, 0.363)),url('../images/Background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0rem;
}
form{
    background-color: bisque;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 5rem rgba(255, 228, 196, 0.452);
    padding: 2rem 3rem;
    flex-direction: column;
    display: flex;
}
.container-wrapper-outer{
    margin: 4rem 35rem;
}
.container-wrapper{
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    justify-content: space-between;
    margin: 1rem 0rem;
}
.container-wrapper input,select{
    padding: .5rem 0.5rem;
    border: none;
    border-bottom: .15rem solid rgba(0, 0, 0, 0.308);
    background-color: rgba(255, 222, 173, 0);
    font-size: 2rem;
    width: 40%;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.container-wrapper input:focus,select:focus{
    outline: none;
    border-bottom: .15rem solid rgba(0, 0, 0, 0.842);
}
.predict{
    position: fixed;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0rem auto;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(46, 61, 15);
    color: greenyellow;
    border-radius: 3rem;
    border: .2rem solid greenyellow;
    padding: 1rem 2rem;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes popUp {
    0% {
        top: -10rem;
        visibility: visible;
    }
    100% {
        top: 4rem;
    }
}
@keyframes moveBack{
    0%{
        top: 4rem;
    }
    100%{
        top: -10rem;
        visibility: hidden;
    }
}

.btn{
    width: 100%;
    margin-top: 2rem;
    border: none;
    padding: 1rem 0rem;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 5rem rgba(255, 228, 196, 0.452);
    background-color: bisque;
    font-size: 2rem;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0rem 0rem 6rem rgba(255, 228, 196, 0.76);
}